{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "singleQuote": false,
  "useTabs": false,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "importOrder": [
    "^(react)(/(.*))?$",
    "^(next)(/(.*))?$",
    "<THIRD_PARTY_MODULES>",
    "^@/api/(.*)$",
    "^@/stores/(.*)$",
    "^@/hooks/(.*)$",
    "^@/(features|utils)/(.*)$",
    "^@/(layouts|components)/(.*)$",
    "^@/types/(.*)$",
    "^@/images/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
